@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
#hero {
  background: #ffffff url(/assets/img/seacost.jpg) no-repeat center bottom;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 760px;
}

#hero .hero__shader {
  background: black;
  opacity: 0.15;
  position: absolute;
  width: 100%;
  height: 760px;
  z-index: 1;
}

.hero-container {
  display: flex;
  flex-direction: column;
  grid-template-columns: 5.25fr 1.5fr 1.5fr 1.5fr 1.5fr;
  grid-auto-rows: 220px;
  z-index: 2;
}

.hero-container div,
.hero-container .logo {
  display: flex;
  align-items: center;
}

.hero-container .hero__logo {
  margin: 0px;
  font-size: 45px;
  padding: 0px 0px 25px;
  font-weight: 900;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.hero-container .hero__nav {
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hero-container .hero__nav-dropdown {
  border-radius: 6px;
  opacity: 0.8;
  padding: 15px 30px;
  background: #ffffff;
  bottom: -95px;
  left: 5%;
  flex-direction: column;
  display: none;
}

.hero-container .hero__nav-link {
  color: #000000;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0px 0px 5px;
  cursor: pointer;
  transition: 0.2s;
}

.hero-container .hero__nav-link:hover {
  color: #929292;
}

.hero-container .hero__content {
  grid-column: -5 / -1;
  grid-row: 2 / 4;
  justify-content: center;
}

.hero-container .hero__content-container {
  flex-direction: column;
  align-items: flex-start;
  max-width: 445px;
  margin: 25px 0px 0px 30px;
}

.hero-container .hero__content-container .hero__content-title {
  font-size: 36px;
  letter-spacing: 0.5px;
  line-height: 55px;
  color: #ffffff;
  font-weight: 800;
  margin: 0px 0px 10px 0px;
}

.hero-container .hero__content-container .hero__content-title p {
  margin: 0px;
}

.hero-container .hero__content-container .hero__content-subtitle {
  display: flex;
  height: 60px;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #ffffff;
  font-weight: 400;
  margin: 0px 0px -30px 0px;
  flex-direction: column;
}

.hero-container .hero__content-container .hero__content-subtitle .hero__content-button {
  margin: 10px 0px 0px 0px;
  width: 245px;
  border: 3px white solid;
  border-radius: 50px;
  background-color: transparent;
  font-size: 24px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  transition: 0.5s;
  cursor: pointer;
}

.hero-container .hero__content-container .hero__content-subtitle .hero__content-button:hover {
  background-color: #fffefe;
  color: #000000;
}

@media screen and (min-width: 450px) {
  .hero-container .hero__logo {
    font-size: 50px;
  }
  .hero-container .hero__content-container .hero__content-title {
    font-size: 50px;
  }
}

@media screen and (min-width: 900px) {
  .hero-container {
    display: grid;
  }
  .hero-container .hero__logo {
    margin: 0px 45px;
  }
  .hero-container .hero__nav-dropdown {
    position: absolute;
  }
  .hero-container .hero__content-container {
    margin: 50px 0px 0px 30px;
  }
  .hero-container .hero__content-container .hero__content-subtitle {
    flex-direction: row;
  }
}

@media screen and (min-width: 1600px) {
  #hero {
    background: #ffffff url(chopchop/assets/img/seacost.jpg) no-repeat center;
    background-size: cover;
  }
}

#article .section {
  display: flex;
  justify-content: center;
}

#article .section .container {
  width: calc(90vw - 90px);
  display: flex;
  flex-direction: column;
}

#article .section .container .title {
  font-size: 49px;
  line-height: 100px;
  color: #53686c;
  font-weight: 700;
}

#article .section .container .subtitle {
  font-size: 16px;
  line-height: 28px;
  color: #575756;
}

#article .section .container .image {
  width: 100vw;
  height: 255px;
  background-color: #cccccc;
}

#article .section .container .first__title {
  margin: 20px 0px 0px 0px;
}

#article .section .container .first__subtitle-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
  flex-direction: column;
}

#article .section .container .first__subtitle-container .first__subtitle {
  min-width: 50%;
  font-weight: 400;
}

#article .section .container .second__title {
  margin: 25px 0px 16px 2px;
}

#article .section .container .second__content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: max-content;
  flex-direction: column;
}

#article .section .container .second__content-container .second__subtitle-container {
  width: fit-content;
}

#article .section .container .second__content-container .second__subtitle-container .second__subtitle {
  font-weight: 400;
  letter-spacing: -0.1px;
}

#article .section .container .second__content-container ~ .second__subtitle {
  margin: 28px 0px -10px;
  font-weight: 400;
  letter-spacing: -0.1px;
}

#article .section .container .second__button-container {
  display: flex;
  justify-content: center;
}

#article .section .container .second__button-container .second__button {
  margin: 50px 0px;
  padding: 6px 25px;
  border: 3px #627478 solid;
  border-radius: 25px;
  background: transparent;
  text-transform: uppercase;
  font-size: 24px;
  color: #627478;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s;
}

#article .section .container .second__button-container .second__button:hover {
  background-color: #627478;
  color: #ffffff;
}

#article .first {
  background-color: #ffffff;
  height: max-content;
}

#article .second {
  background-color: #F9F9F9;
  height: max-content;
}

@media screen and (min-width: 450px) {
  #article .section .container .image {
    width: 349px;
  }
}

@media screen and (min-width: 950px) {
  #article .section .container .first__subtitle-container {
    flex-direction: row;
  }
  #article .first {
    height: 360px;
  }
  #article .second {
    height: max-content;
  }
  #article .section .container .second__content-container {
    flex-direction: row;
  }
  #article .section .container .second__content-container .second__image.image {
    margin: 0px 40px 0px 0px;
  }
}

@media screen and (min-width: 1350px) {
  #article .section .container .second__content-container {
    max-height: 255px;
  }
}

.gallery {
  width: 100%;
  display: grid;
  margin: 75px 0px;
  grid-template-columns: repeat(auto-fit, 403px);
  grid-auto-rows: 403px;
  gap: 70px;
  justify-content: unset;
}

.gallery__image {
  width: 320px;
  height: 320px;
  cursor: zoom-in;
  transition: 0.2s;
}

.gallery__image:hover {
  opacity: 0.8;
  scale: 1.05;
}

.gallery__image--one {
  background: url("chopchop/assets/img/beach-sea-coast-water-ocean-horizon-15529-pxhere.com.jpg");
  background-position: 48% 16%;
  background-size: 168% 110%;
}

.gallery__image--two {
  background: url("chopchop/assets/img/grass-field-farm-lawn-meadow-hill-736197-pxhere.com.jpg");
  background-position: 45.5% 0%;
  background-size: 218% 114%;
}

.gallery__image--three {
  background: url("chopchop/assets/img/hand-outdoor-sand-morning-animal-horse-114552-pxhere.com.jpg");
  background-position: 66% 50%;
  background-size: 177% 118%;
}

.gallery__image--four {
  background: url("chopchop/assets/img/landscape-sea-coast-horizon-mountain-snow-1325243-pxhere.com.jpg");
  background-position: 54.5% 46%;
  background-size: 247% 166%;
}

.gallery__image--five {
  background: url("chopchop/assets/img/fotolia_170367715.png");
  background-position: top center;
  background-size: cover;
}

.gallery__image--six {
  background: url("chopchop/assets/img/snow-winter-city-vehicle-church-iceland-836962-pxhere.com.jpg");
  background-position: 85% 110%;
  background-size: 158% 106%;
}

.gallery__image--seven {
  background: url("chopchop/assets/img/landscape-sea-nature-ocean-mountain-sky-386319-pxhere.com.jpg");
  background-position: 50% 20%;
  background-size: 186% 125%;
}

.gallery__image--eight {
  background: url("chopchop/assets/img/sea-coast-water-ocean-bird-animal-136776-pxhere.com.jpg");
  background-position: 490px 427px;
  background-size: 200% 112%;
}

.gallery__image--nine {
  background: url("chopchop/assets/img/landscape-nature-grass-horizon-wilderness-mountain-946977-pxhere.com.jpg");
  background-position: 630px 482px;
  background-size: 180% 120%;
}

@media screen and (max-width: 450px) {
  .gallery__image {
    background-position: center;
  }
}

@media screen and (min-width: 450px) {
  .gallery {
    justify-content: center;
  }
  .gallery__image {
    height: 403px;
    width: 403px;
  }
}

@media screen and (min-width: 1350px) {
  .gallery {
    justify-content: space-between;
  }
}

#lightbox {
  display: none;
  background: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 3;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#lightbox__toggle {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}

#lightbox__toggle-close {
  margin: -80px;
}

#lightbox__img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
}

.fadeInBox {
  animation: fadeInBox 0.5s 1;
}

@keyframes fadeInBox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 950px) {
  #lightbox__img {
    max-width: 50%;
  }
}

#footer {
  display: flex;
  justify-content: center;
  background-color: #536567;
}

#footer .footer__content {
  width: calc(90vw - 85px);
  padding: 7px 0px;
  font-size: 16px;
  line-height: 28px;
  color: #fffefe;
  font-weight: 200;
  letter-spacing: 0.3px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  width: 90vw;
}

.fadeIn {
  animation: fadeIn 0.5s 1;
  opacity: 0.8;
  display: flex !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
