// GALLERY //

.gallery {
    width: 100%;
    display: grid;
    margin: 75px 0px;
    grid-template-columns: repeat(auto-fit, 403px);
    grid-auto-rows: 403px;
    gap: 70px;
    justify-content: unset;

    &__image {
        width: 320px;
        height: 320px;
        cursor: zoom-in;
        transition: 0.2s;

        &:hover {
            opacity: 0.8;
            scale: 1.05;
        }
    }

    &__image--one {
        background: url("chopchop/assets/img/beach-sea-coast-water-ocean-horizon-15529-pxhere.com.jpg");
        background-position: 48% 16%;
        background-size: 168% 110%;
    }

    &__image--two {
        background: url("chopchop/assets/img/grass-field-farm-lawn-meadow-hill-736197-pxhere.com.jpg");
        background-position: 45.5% 0%;
        background-size: 218% 114%;
    }

    &__image--three {
        background: url("chopchop/assets/img/hand-outdoor-sand-morning-animal-horse-114552-pxhere.com.jpg");
        background-position: 66% 50%;
        background-size: 177% 118%;
    }

    &__image--four {
        background: url("chopchop/assets/img/landscape-sea-coast-horizon-mountain-snow-1325243-pxhere.com.jpg");
        background-position: 54.5% 46%;
        background-size: 247% 166%;
    }

    &__image--five {
        background: url("chopchop/assets/img/fotolia_170367715.png");
        background-position: top center;
        background-size: cover;
    }

    &__image--six {
        background: url("chopchop/assets/img/snow-winter-city-vehicle-church-iceland-836962-pxhere.com.jpg");
        background-position: 85% 110%;
        background-size: 158% 106%;
    }

    &__image--seven {
        background: url("chopchop/assets/img/landscape-sea-nature-ocean-mountain-sky-386319-pxhere.com.jpg");
        background-position: 50% 20%;
        background-size: 186% 125%;
    }

    &__image--eight {
        background: url("chopchop/assets/img/sea-coast-water-ocean-bird-animal-136776-pxhere.com.jpg");
        background-position: 490px 427px;
        background-size: 200% 112%;
    }

    &__image--nine {
        background: url("chopchop/assets/img/landscape-nature-grass-horizon-wilderness-mountain-946977-pxhere.com.jpg");
        background-position: 630px 482px;
        background-size: 180% 120%;
    }
}


@media screen and (max-width: 450px) {
    .gallery {

        &__image {
            background-position: center;
        }
    }
}

@media screen and (min-width: 450px) {
    .gallery {
        justify-content: center;

        &__image {
            height: 403px;
            width: 403px;
        }
    }
}

@media screen and (min-width: 1350px) {
    .gallery {
        justify-content: space-between;
    }
}